@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --backgrounddark: #262626;

  --foreground: #262626;
  --foregrounddark: #ffffff;
  --foregroundaccent: #737373;

  --primary: #3b82f6;
  --primary-accent: #60a5fa;

  --secondary: #3b82f6;

  --hero-background: #ffffff;
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg;

  color: var(--foreground);
  background: var(--background);
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply h-10 w-fit sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}
